<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.bw.mapper.StudentMapper">
		<select id="selectAll" parameterType="map" resultType="com.bw.bean.Student">
			 SELECT s.*,c.`cname` FROM student s,classes c WHERE s.`cid`=c.`cid`
			 <if test="sname!=null and sname!=''">
			 	and s.sname like '%${sname}%'
			 </if>
		</select>
		<select id="selectClass" resultType="com.bw.bean.Classes">
			select * from classes
		</select>
		<insert id="insertStudent" parameterType="com.bw.bean.Student">
			insert student(sname,sex,picurl,cid)
			 values(#{sname},#{sex},#{picurl},#{cid})
		</insert>
		<delete id="deleteStudent" parameterType="com.bw.bean.Student" >
			delete from student where sid=#{sid}
		</delete>
		<select id="findById" parameterType="int" resultType="com.bw.bean.Student">
			select * from student where sid=#{sid}
		</select>
		<update id="updateStudent" parameterType="com.bw.bean.Student">
			update student set sname=#{sname},sex=#{sex},picurl=#{picurl},cid=#{cid} where sid=#{sid}
		</update>
		
	</mapper>